{{#partial "content"}}
    <div class="content">
        <h1>Wildlife Safaris Tracker</h1>
        <p>Hakuna Matata</p>
        <a href="/sightings">View Sightings</a>
    </div>

{{/partial}}

{{> layout.hbs}}