<!--<link rel='stylesheet' href='/app.css'>-->
{{#block "header"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel='stylesheet' href='/app.css'>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}WILDLIFE{{/block}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/rangers/sightings">See All Sightings and Rangers</a></li>
        <li role="presentation"><a href="/sightings/new">Add sighting</a></li>
        <li role="presentation"><a href="/animal/new">Add Ranger</a></li>
    </ul>
    <div class="container-fluid">
        <!--begin main template-->
        <div class="page-header">
            <h1>WildLife <small>Nature is life we value our Animals</small></h1>
        </div>
{{/block}}
<div class="page">
{{#block "content"}}
{{/block}}

{{#block "footer"}}
    </div>
    </div>
    </body>
    </html>
{{/block}}