{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Wildlife</h2>
        <p>The Non Endangered Animal is successfully added!!!</p>
        <a href="/nonendangered" class="otherbuttons">View animals</a>
    </div>
{{/partial}}
{{> layout.hbs}}